:root {
  --background: #fff;
  --foreground: #000;
  --highlight: #111;

  --color-unvisited: #010154;
  --color-visited: #2c0055;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --highlight: #111;

    --color-unvisited: #aad4ff;
    --color-visited: #e3aaff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
