body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

label,
li,
p {
  margin: 0;
  text-wrap: pretty;
}

p {
  margin-bottom: 1rem;
}

ul,
ol {
  padding-left: 1rem;
}

@media screen and (min-width: 28rem) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    hyphens: auto;
  }

  label,
  li,
  p {
    hyphens: auto;
    text-align: justify;
  }
}

a {
  color: var(--color-unvisited, blue);
  --color: var(--color-unvisited, blue);
  text-decoration: underline;
}

a:visited {
  color: var(--color-visited, purple);
  --color: var(--color-visited, purple);
}

a:visited::selection {
  background-color: var(--color-visited, purple);
}

a:active,
a:focus,
a:focus-within,
a:hover,
a::selection {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a:visited {
  background-color: var(--color-visited, blue);
}

.icon {
  filter: grayscale(1);
}