* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  margin: .67em 0;
  font-size: 2em;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  padding: 0;
  list-style-type: none;
}

:where(nav li):before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  resize: vertical;
  margin: 0;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  color: #000;
  height: -moz-fit-content;
  width: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border: solid;
  width: fit-content;
  margin: auto;
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-controls]) {
  cursor: pointer;
}

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@font-face {
  font-family: system-ui;
  src: local(\.AppleSystemUIFont), local(Segoe UI), local(Ubuntu), local(Roboto-Regular), local(HelveticaNeue);
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  src: local(\.AppleSystemUIFont), local(Segoe UI Italic), local(Ubuntu-Italic), local(Roboto-Italic), local(HelveticaNeue-Italic);
}

@font-face {
  font-family: system-ui;
  font-weight: bold;
  src: local(\.AppleSystemUIFont), local(Segoe UI Bold), local(Ubuntu-Bold), local(Roboto-Bold), local(HelveticaNeue-Bold);
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: bold;
  src: local(\.AppleSystemUIFont), local(Segoe UI Bold Italic), local(Ubuntu-BoldItalic), local(Roboto-BoldItalic), local(HelveticaNeue-BoldItalic);
}

:where(button, input, select, textarea) {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid windowframe;
  padding: .25em .375em;
}

:where(select) {
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") 100% / 1em no-repeat;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-right: 1em;
}

:where(select[multiple]) {
  background-image: none;
}

:where([type="color" i], [type="range" i]) {
  border-width: 0;
  padding: 0;
}

@font-face {
  font-family: ui-monospace;
  src: local(\.AppleSystemUIFontMonospaced-Regular), local(Segoe UI Mono), local(UbuntuMono), local(Roboto-Mono), local(Menlo);
}

@font-face {
  font-family: ui-monospace;
  font-style: italic;
  src: local(\.AppleSystemUIFontMonospaced-RegularItalic), local(Segoe UI Mono Italic), local(UbuntuMono-Italic), local(Roboto-Mono-Italic), local(Menlo-Italic);
}

@font-face {
  font-family: ui-monospace;
  font-weight: bold;
  src: local(\.AppleSystemUIFontMonospaced-Bold), local(Segoe UI Mono Bold), local(UbuntuMono-Bold), local(Roboto-Mono-Bold), local(Menlo-Bold);
}

@font-face {
  font-family: ui-monospace;
  font-style: italic;
  font-weight: bold;
  src: local(\.AppleSystemUIFontMonospaced-BoldItalic), local(Segoe UI Mono Bold Italic), local(UbuntuMono-BoldItalic), local(Roboto-Mono-BoldItalic), local(Menlo-BoldItalic);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

code, kbd, samp, pre {
  font-family: ui-monospace, Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:where(iframe, img, input, video, select, textarea) {
  max-width: 100%;
  height: auto;
}

:root {
  --background: #fff;
  --foreground: #000;
  --highlight: #111;
  --color-unvisited: #010154;
  --color-visited: #2c0055;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --highlight: #111;
    --color-unvisited: #aad4ff;
    --color-visited: #e3aaff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

blockquote {
  border: 0 solid;
  border-left-width: 1px;
  margin: 0;
  padding-left: 1rem;
}

.messages {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message-assistant, .message-user {
  background-color: var(--highlight);
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  padding: .75rem 1rem;
}

.message-assistant {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 2rem;
}

.message-user {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 2rem;
}

textarea.message-user {
  width: calc(100% - 2rem);
}

.row {
  flex-direction: row;
  gap: 1rem;
  display: flex;
}

.row.reverse {
  flex-direction: row-reverse;
}

.screen {
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: block;
}

.vertical-layout {
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  display: flex;
}

.vertical-layout > * {
  margin: 0;
}

.margin {
  opacity: 0;
  height: 1px;
}

hr {
  opacity: .5;
  display: block;
}

.card .icon {
  margin-right: .5em;
}

.text-right {
  text-align: right;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.pending:after {
  content: "";
  animation: 1.5s step-end infinite ellipses;
  display: inline-block;
}

@keyframes ellipses {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

label {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
  display: block;
}

button, input, select, textarea {
  background-color: var(--highlight);
  border-color: currentColor;
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  width: 100%;
  margin-top: .25rem;
  margin-bottom: 1rem;
  display: block;
}

button:active {
  background-color: rgba(0, 0, 0, 0);
}

button:focus {
  background-color: rgba(0, 0, 0, 0);
}

button:hover {
  background-color: rgba(0, 0, 0, 0);
}

input:active {
  background-color: rgba(0, 0, 0, 0);
}

input:focus {
  background-color: rgba(0, 0, 0, 0);
}

input:hover {
  background-color: rgba(0, 0, 0, 0);
}

select:active {
  background-color: rgba(0, 0, 0, 0);
}

select:focus {
  background-color: rgba(0, 0, 0, 0);
}

select:hover {
  background-color: rgba(0, 0, 0, 0);
}

textarea:active {
  background-color: rgba(0, 0, 0, 0);
}

textarea:focus {
  background-color: rgba(0, 0, 0, 0);
}

textarea:hover {
  background-color: rgba(0, 0, 0, 0);
}

textarea {
  resize: vertical;
  min-height: 6.625em;
}

button.card {
  text-align: justify;
  padding: .75rem 1rem;
}

button[disabled] {
  opacity: .625;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

label, li, p {
  text-wrap: pretty;
  margin: 0;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1rem;
}

@media screen and (min-width: 28rem) {
  h1, h2, h3, h4, h5, h6 {
    hyphens: auto;
  }

  label, li, p {
    hyphens: auto;
    text-align: justify;
  }
}

::selection {
  color: var(--background);
  background-color: var(--foreground);
}

a {
  color: var(--color-unvisited, blue);
  text-decoration: underline;
}

a:active {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a:focus {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a:focus-within {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a:hover {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a::selection {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a:visited {
  color: var(--color-visited, purple);
}

a:visited:active {
  background-color: var(--color-visited, purple);
  color: var(--background);
}

a:visited:focus {
  background-color: var(--color-visited, purple);
  color: var(--background);
}

a:visited:focus-within {
  background-color: var(--color-visited, purple);
  color: var(--background);
}

a:visited:hover {
  background-color: var(--color-visited, purple);
  color: var(--background);
}

a:visited::selection {
  background-color: var(--color-visited, purple);
  color: var(--background);
}

.icon {
  filter: grayscale();
}
